* {
    margin: 0;
    
}

body {
    height: auto;
    background-image: url(Images/background-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
}

.wrapper{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper>*{
    flex:1 100%;
}

header nav img {
    height: 60px;
    margin: 5px 10px;
    padding-left: 10px;
}

header nav {
    background-color: #1e525b;
    display: flex;
    align-items: center;
    padding:5px;
    margin: 0;
}

header a {
    font-size: 28px;
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    padding-top: 12px;
    color: #c2f2fc;
    text-align: center;
}

#check{
    display: none;
}



.main{
    text-align: center;
    padding-top: 15px;
    height: auto;
}

.card{
    margin:  10px;
    border:2px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.main a {
    text-decoration: none;
}
.card-h{
    text-align: left !important;
    font-size:15px !important ;
}

.card-header{
    background-color: #1e525b;
    border-radius: 9px 9px 0px 0px ;
    color: #c2f2fc;
    font-size: 22px  ;
    font-weight: 700;
    padding: 20px;
    text-align: justify;
}

.card-body{
    color: black;
    display: grid;
    grid-template-columns: auto auto;
    background-color: #ffffff;
    font-size: 15px;
}

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    text-align: justify;
  }

  .card-footer{
    padding: 5px 20px;
    background-color: rgb(235, 235, 235);
    border-top: 1px solid rgb(203, 201, 201);
    text-align: right;
    border-radius: 0px 0px 9px 9px ;
}


  input[type="button"] {
    margin: 10px auto;
    padding: 10px;
    background-color: #868787;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
  }

  .num nav ul {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    justify-content: center;
}

.page a {
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.pad{
    padding: 20px;
}



.align {
    text-align: justify;
}

input[type="email"]{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 15px;
  }
  
input[type="submit"] {
    margin: 20px auto 10px auto ;
    padding: .15rem .5rem;
    background-color: #007bff;
    border-color: #007bff;;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    display: block;
  }

  .play-btn {
    color: gray;
}

.play-btn  a{
    font-size: 15px;
    color: gray;
    text-align: justify;
}
.side2 ul{
    width:100%;
    top:80px;
    text-align: left;
    transition: all .5s;
    padding-left: 0px;
    line-height: 40px;
    font-weight: bold;
}
ul li{
    display: block;   
}
ul li a{
font-size: 15px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 300;
} 
.side1{
    color: rgba(0, 0, 0, 0);
}

.side2{
    height: auto;
    padding: 15px;
}
footer{
    padding: 50px;
    margin-top: 15px;
    background-color: #1e525b;
    justify-content: center;
    line-height: 30px;
}
footer ul{
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    justify-content: center;
}

footer ul li a{
    position: relative;
    display: block;
    padding: .5rem .75rem;
    font-size: 20px;

}

.text{
    font-weight: 600px;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.small{
    font-size: 12px;
    color: white;
    font-weight: 400;
}


@media all and (min-width:800px){
    .main{
        flex:2
    }
    .side1{
        order: 1;
    }
    
    .side2{
        order:2;
    }
    .side{
        flex:1;
    }

    .main{
        order:2
    }

    footer{
        order:4
    }
    .btn-area{
    display: none;
    }
    #hide{
        display: none;
    }
    
}
@media all and (max-width:800px){
    .side1{
        order: 1;
        display: none;
    }

    }

@media  (max-width:600px){
    .side2{
        flex:1;
    }
    .side1{
        display: none;
    }
   
}

@media all and (max-width:990px){

    header nav a {
        font-size: 25px;
        color: #c2f2fc;
        display:inline-block;
        margin: 0 auto; 
    }
    .btn-area{
        font-size: 30px;
        color: white;
        align-items: center;
        float: left;
        margin-right: 20px;
        cursor: pointer;
        border: 2px solid white;
        padding: 5px 10px;
        border-radius: 12px;
        }
    
    #check{
        display: none;
    }

    .play-btn {
        color: gray;
    }

    .play-btn  a{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: gray;
        text-align: justify;
    }
    nav ul{
        position: fixed;
        width:100%;
        height: 60vh;
        background: white;
        top:80px;
        left:-150%;
        text-align: left;
        transition: all .5s;
    }
    nav ul li{
        display: block;   
    }
    nav ul li a{
    font-size: 20px;
} 
#check:checked~ul {
    left: 0;
  }
  .card-body{
    color: black;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto; 
    background-color: #ffffff;
    font-size: 20px;
}
.main img {
    display: block; 
    margin: 0 auto; 
  } 
  .side2{
    padding: 20px;
    height: auto;
}

.side2 ul{
    width:100%;
    top:80px;
    text-align: left;
    transition: all .5s;
    padding-left: 0px;
    line-height: 40px;
    font-weight: bold;
    
}
ul li{
    display: block;   
}
ul li a{
font-size: 20px;

} 
}



